$colour-primary: rgb(245, 97, 97);
$colour-secondary: rgb(86, 143, 86);
$colour-head: rgb(252, 227, 231);
$colour-foot: #1b1d1d;
$colour-icons: #f1f1f1;
$colour-third:rgb(243, 241, 237);
$width:100%;
$font-size:10px;
$top-margin:100px;
$left:20px;
$margin:auto;